name: workflow
permissions:
  contents: read
  packages: write

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      version_tag:
        description: 'Version tag (e.g., 0.1, 0.2)'
        required: true
        default: '0.1'
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/kubetool

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build Go binary
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
        run: go build -o kubetool .

      - name: Build image
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:${{ github.event.inputs.version_tag || '0.1' }} .
          docker tag ${{ env.IMAGE_NAME }}:${{ github.event.inputs.version_tag || '0.1' }} ${{ env.IMAGE_NAME }}:latest

      - name: Test image
        run: |
          mkdir -p ./output
          docker run --rm -v $(pwd)/output:/data ${{ env.IMAGE_NAME }}:latest
          cat ./output/kubetool.txt

      - name: Push to GitHub Packages
        if: github.event_name == 'push'
        run: |
            echo "${{ secrets.CI_TEST }}" | docker login ${{ env.REGISTRY }} -u ${{ github.actor }} --password-stdin
            docker push ${{ env.IMAGE_NAME }}:${{ github.event.inputs.version_tag || '0.1' }}
            docker push ${{ env.IMAGE_NAME }}:latest